@charset "utf-8";
/* CSS Document */

/* media-query
------------------------------------------------*/
@media handheld, only screen and (max-width: 1250px) {

}

@media handheld, only screen and (max-width: 1140px) {
	.header-logo {  width: 150px;}
	ul.menu li {padding: 0px 9px;}
	.menu li a{font-size: 14px;}
}

@media handheld, only screen and (max-width: 991px) {
	.left-section{width: 100%; padding-right: 0px;padding-left: 15px;padding-bottom: 0px; float: none;}
	.left-section img{width: 100%; padding: 0px;}
	.left-section:before{left: 0px;}
	.img-background:before{height: 96%;}
	.right-section { float: none; width: 100%; padding-top: 55px; padding-left: 0px;}
	.browse-box { float: left; width: 33.33%;}
	.bolg-box{width: 50%; margin-bottom: 30px;}
	.bolg-date {left: 20%;transform: translateX(-10%);}
	.bolg-date ul li{padding: 0px 6px; font-size: 12px;}
	.check-box{font-size: 12px;}
	input[type="checkbox"] { width: 20px; height: 20px;}
	.select-form{padding: 20px 15px 20px;}
	p{font-size: 16px;}
	.sidepanel {
	    width: 0;
	    position: fixed;
	    height: 100%;
	    top: 0;
	    background-color: #1aa7ec;
	    overflow-x: hidden;
	    transition: 0.5s;
	    padding-top: 60px;
	    right: 0px;
	    z-index: 9999;
	   
	}
	.menu{
		display: block;
	}
	a.closebtn, button.openbtn{display: block;}

	.sidepanel a {
	    padding: 8px 8px 8px 15px;
	    text-decoration: none;
	    font-size: 17px;
	    color: #fff !important;
	    display: block;
	    transition: 0.3s;
	}

	.sidepanel a:hover {
		color: #f1f1f1;
	}

	.sidepanel .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
	}

	.openbtn {
	    font-size: 30px;
	    cursor: pointer;
	    color: #1e2f97;
	    border: none;
	    position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}

}
@media handheld, only screen and (max-width: 767px) {
	.bolg-box{width: 100%; margin-bottom: 30px;}
	.news-block{flex-wrap: wrap;justify-content: center;}
	.header-subscribe li a{font-size: 12px;}
	.header-subscribe li{margin-top: 8px; margin-bottom:0px; float: none;}
	ul.header-subscribe{flex-wrap: wrap;}
	.browse-box{width: 50%;}
	.recommended li{width: 50%;}
	.browse-img{padding: 40px 20px;}
	.select-form h3{font-size: 22px; line-height: 35px;}
	p {font-size: 15px; line-height: 21px; }
	.select-form li{    padding: 0px 0px 15px;}
	span.line{margin-bottom: 20px;}
	.right-section .learn-more {margin-top: 10px;}
	.left-text{float: none; padding-top: 0px;}
	.bolg-date ul{    padding: 12px}
	.bolg-date ul li { padding: 0px 10px;}
	.img-background img{width: 100%;}
	.right-text-box{justify-content: flex-start;}
	.check-box {
		display: flex;
	    align-items: center;
	}
	.select-form li {
	    float: left;
	    width: 50%;
	    padding: 0px 10px 15px;
	}
	.Who-we-are{margin-bottom: 40px;}
	.box-footer ul li {
		width: 50%;
	    margin-bottom: 10px;
	    font-size: 15px;
	    line-height: 15px;
	}

	



}

@media handheld, only screen and (max-width: 740px) {
	.bolg-date
	{left: 32%;	}
}

@media handheld, only screen and (max-width: 639px) {}

@media handheld, only screen and (max-width: 550px) {
	.bolg-date ul{    padding: 12px 9px;}
	.bolg-date ul li { padding: 0px 5px;}
	.bolg-date {  left: 22%;}
}

@media handheld, only screen and (max-width: 479px) {
	.select-form li {
		width: 100%;
	}

	.recommended li {
		width: 100%;
	}

	.left-section:before {
		width: 330px;
		height: 232px;
	}

	.left-section:before {
		left: 6px;
	}

	h2 {
		font-size: 30px;
	}

	.bolg-date ul li {
		font-size: 10px;
	}

	.box-footer ul li {
		width: 50%;
		margin-bottom: 0px;
	}

	.browse-box {
		width: 100%;
	}

	.browse-img {
		height: auto;
	}

	.header-logo {
		width: 125px;
	}

	.banner-caption {
		left: 0px;
		right: 0px;
		text-align: center;
		top: 10%;
	}

	.banner-caption h1 {
		font-size: 3rem;
		line-height: 45px;
		text-align: center;
	}

	.banner-caption p {
		color: #fff;
		line-height: 25px;
		text-align: center;
		padding: 0px 20px;
		font-size: 1.1rem;
		width: 100%;
	}

	.right-text-box {
		margin-bottom: 20px;
		padding-top: 0px;
		display: block;
	}
	.check-box {
		font-size: 14px;
	}
	p {
		font-size: 14px;
		line-height: 21px;
	}
}

@media(min-width: 1200px) {
    .Who-we-are
    {
        height: 100vh;
    }
}
