@charset "utf-8";
/* CSS Document */

/* Table of Contents
-----------------------------------------------------------------------------
1. Clean Base
2. Base Typography
3. Images
4. Links
5. Forms
6. Tables
7. Framework 
*/

/* 1. Clean Base
------------------------------------------------------------------------------*/
.w-fit-content
{
    width: fit-content;
}
blockquote, q {quotes: none;}
ul, ol, dl, li {margin:0; padding:0;}
html, body{
    overflow-x: hidden; 
    height: 100%; 
    order:none;
    -webkit-appearance:none;
    -ms-appearance:none; 
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
}

/* Class for clearing floats */
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* 2. Base Typography
------------------------------------------------------------------------------*/


body {
    color: #333333;
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}



h1 {
    font-size: 54px;
    line-height: 66px;
    color: #fff;
}

h2 {
    font-size: 44px;
    color: #020b56;
}

h3 {
    font-size: 30px;
    line-height: 66px;
    color: #020b56;
}

h4 {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 28px;
    color: #020b56;
}

h5 {
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 30px;
}

h6 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17px;
    border-left: 5px solid #eee;
}

p {
    margin-bottom: 20px;
    
}

p strong {
    display: block;
}

p a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p span {
    color: inherit;
    font-weight: inherit;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
    margin-left: 0px;
}

ul li {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    list-style-type: none;
}

ol {
    /* Box-model */
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 18px;
}

ol li {
    /* Box-model */
    padding: 0;
    margin: 0;
    
    /* Typography */
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/* 3. Images
------------------------------------------------------------------------------*/
img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    border: none;
    border-style: none;
}

/* 4. Link
------------------------------------------------------------------------------*/
a {
    
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a:hover,
a:focus {
    outline: none;
}

/* 5. Forms
------------------------------------------------------------------------------*/
input,
button,
select,
textarea {
    font-weight: 300;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;    
    -webkit-text-size-adjust: none;
    outline: none

}
select{
     appearance: none;
    -webkit-appearance: none;
}

input[type='email'],
input[type='text'],
input[type='search'],
input[type='tel'],
input[type='password'],
textarea {
    padding: 0 10px 0 22px;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
    padding: 15px 22px;
    height: 122px;
    line-height: 24px;
    overflow: auto;
    resize: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    padding: 0 18px;
    height: 42px;
    text-align: center;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
    line-height: 42px;
    border: 1px solid #ea7617;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

/*button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #fff;
    background-color: #ea7617;
}*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-input-placeholder { color: #aeaeae; }
::-moz-placeholder { color: #aeaeae; }
:-ms-input-placeholder { color: #aeaeae; }
:-moz-placeholder { color: #aeaeae; }

@-moz-document url-prefix() { 
    ::-webkit-input-placeholder { opacity: 1;}
    ::-moz-placeholder { opacity: 1;}
    :-ms-input-placeholder { opacity: 1;}
    :-moz-placeholder { opacity: 1;}  
}


/* 6. Tables
------------------------------------------------------------------------------*/
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}

/* 7. Layout Framework
------------------------------------------------------------------------------*/
/* button */
.btn {    
    display: inline-block;
    padding: 0 18px;
    height: 42px;
    min-width: 110px;
    text-align: center;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
    cursor: pointer;    
    border:  2px solid #ea7617;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px;
}

.btn:hover,
.btn:focus {
       background-color: #ea7617;
}
a:hover
{
    text-decoration: none;
}
/* commomn css */

/*text align*/
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.left { float: left;}
.right { float: right;}
.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.aligncenter,
.alignnone {
    float: none;
    margin: 0 auto 20px;
}
/*text align end*/

/*color*/
.blue{ color: #020b56;}
.light-green{color: #4adede;}
.light-blue{color: #1aa7ec;}
/*color-end*/

/*bg-color*/
.bg-blue{ background-color: #020b56;}
.bg-light-green{background-color:#4adede;}
.bg-light-blue{background-color: #1aa7ec;}
/*bg-color*/

/* main body */
#wrapper {
    width: 100%;
    min-height: 100%;
}
/*
@media (max-width: 575px) {
    .container
    {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .container
    {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container
    {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container
    {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container
    {
        width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container
    {
        width: 1320px;
    }
}
*/
@media(min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}
@media(min-width: 576px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
}
header {
    position: relative;
    width: 100%;
    height: auto;
}

/*home page start*/
.header{
    height: 48px;
    text-align: right;
}
.social-icon i{
    color: #020b56;
    line-height: 28px;
    font-size: 13px;
}

ul.social-icon {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
}

ul.social-icon li {
    float: left;
    margin: 0px 4px;
    background-color: #fff;
    height: 28px;
    width: 28px;
    text-align: center;
    border-radius: 100%;
}
.top-header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
              
}   
ul.header-subscribe li:before {
    border-left: 1px solid #f5f5f5;
    opacity: 0.3;
    content: "";
    padding-left: 15px;
}
ul.header-subscribe li:first-child:before{
     border-left: none;

}
ul.header-subscribe {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
}
ul.header-subscribe li i {
    padding-right: 8px;
    color: #fff;
    font-size: 13px;
}
.header-subscribe li a{
    color: #fff;
    font-size: 15px;
    font-size: 12px;
}
.header select{
    background: transparent;
    color: #fff;
}
.header select option{
     background: #020b56;
}
.lang{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #1e2f97;
    padding: 12px;
}
.lang img{
    position: relative;
    left: 10px;

}
.menu{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
ul.menu li {
    padding: 0px 12px;
}
.menu li a{
    color: #020b56;
}
.searchfield {
    position: relative;
}
.form-group a {
    position: absolute;
    right: 0px;
    background: #4adede;
    height: 100%;
    color: #020b56;
}
/*header-end*/

/*banner start*/
.banner {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.learn-more{
    background: #4adede;
    color: #020b56;
}
.view-all{
    background-color: #1aa7ec;
    color: #fff;
}
.banner-caption p{
    color: #fff;
}
/*banner-end*/

/*select form*/
.select-form{
    background-color: #fff;
    -webkit-box-shadow: 3px 2px 36px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 36px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 36px -8px rgba(0,0,0,0.75);
    padding: 20px 50px 40px;
    
}
.select-form li{
    float: left;
    width: 33.33%;
    padding: 0px 10px 15px;
}

.range_fields li
{
    float: left;
    width: 25%;
    padding: 0px 10px 15px;

}
.range_fields li input[type='text']
{
    border-radius: 50px;
    padding: 0px 20px;
    height: 46px;
}
li.float_right {
    float: right;
    padding-top: 20px;
}

.select-form select,input{
    border: 1px solid #e1e1e1;
    height: 46px;
    border-radius:50px;
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 46px;
    border-radius: 50px;
    width: 100%;
    padding: 0px 20px;
    color: #a9a9a9;
    
}
.select-form .range_fields input{
    border-radius: 50px !important;
}
.field_label {
    color: #020b56;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    float: left;
    margin-left: 20px;
}
.recommended li{
    float: left;
    width: 33.33%;
    padding: 0px 10px 15px;
}
.recommended select{
    border: 1px solid #e1e1e1;
    height: 46px;
    border-radius:50px;
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 46px;
    border-radius: 50px;
    width: 100%;
    padding: 0px 20px;
    color: #a9a9a9;
}
.recommended a{width: 100%;}

.drop-errow select {
    background-image: url(../images/droup-errow.png);
    display: block;
    background-position: 96%;
    background-repeat: no-repeat;
    background-size: 13px;
}
.select-form li .view-all{
    padding: 10px 23px;
    width: 100%;
    text-align: center;
}
.select-form p{
    color: #888888;
}
.select-form-erapper {
    position: relative;
    top: -103px;
}
input[type="checkbox"] {
    width: 27px;
    height: 27px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: 1px solid #e1e1e1;
    display: inline-block;
    border-radius: 5px;
}
input[type="checkbox"]:checked:before {
    content: "\2714";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #1aa7ec;
    border-color: #e1e1e1;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

.left-text{float: left;}
.right-text-box {
    display: flex;
    justify-content: flex-end;
    color: #121212;
    padding-top: 20px;
}

.img-background {
    position: relative;
}
.img-background:before {
    background: #4adede;
    height: 96%;
    width: 88%;
    position: absolute;
    z-index: 111;
    content: "";
    opacity: 0.4;
    z-index: -11;
    left: -20px;
    top: 40px;
}
.left-section {
   float: left;
    width: 50%;
    padding-right: 35px;
    padding-left: 20px;
    padding-bottom: 20px;
}


.right-section {
    float: right;
    width: 48%;
    padding-left: 35px;
    padding-top: 35px;
}
p{
    font-size: 18px;
    line-height:32px;
    font-weight:  300;
    color: #333333;
}
span.line {
    display: block;
    background: #1aa7ec;
    height: 3px;
    width: 66px;
}
.right-section .learn-more{
    margin-top: 24px;
}

a.advance {
    display: block;
    font-size: 14px;
    color: #020b56 !important;
    cursor: pointer;
}

.boxs
{display: none;}

section.recommended-for-you {
    background: #f8f8f8;
}
.recommended-slider-wrapper{
    margin-top: 35px;
}
.recommended-slider-wrapper .item {
    padding: 0px 5px 8px;
}
.recommended-box {
    -webkit-box-shadow:  1px 0px 12px 0px rgb(0 0 0 / 17%);
    -moz-box-shadow:  1px 0px 12px 0px rgb(0 0 0 / 17%);
    box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
}
.recommended-box-text {
    padding: 20px;
}
.recommended-box-text p{
    color: #555555;
    font-size: 15px;
    line-height: 24px;
}
.free-text{
    color: #1aa7ec;
    line-height: 28px;
    font-size: 18px;
    display: block;
}
.box-footer ul li {
    float: left;
    width: 33.33%;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.box-footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
.box-footer.cf .blue
{
    line-height: 3;
}
.rovigo{
    color: #555555;
    font-size: 16px;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dots span {
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #9699b7;
    border-radius: 100%;
    margin: 3px;
}
.owl-carousel button.owl-dot:active,
.owl-carousel button.owl-dot:focus
{
    outline: none;
    border: none;
}
button.owl-dot.active span{
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #020b56;
    border-radius: 100%;
    margin: 3px;
}
.img-slider.owl-dots span {
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #828282;
    border-radius: 100%;
    margin: 3px;
}
.img-slider button.owl-dot.active span{
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    margin: 3px;
}
.img-slider .owl-dots {
    text-align: left;
}
.img-slider .item {
    padding: 0px;
}
.img-slider .owl-dots {
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.img-slider {
    position: relative;
    overflow: hidden;
}
.for-sale{
    position: relative;
}
.for-sale:before{
    content: "";
    background-color: #1aa7ec;
    position: absolute;
    z-index: 999;
    color: #fff;
    width: 36px;
    height: 282px;
    -ms-transform: rotate(20deg);
    transform: rotate(222deg);
    top: -77px;
    left: -3px;
}
p.fore-sale-text {
    position: absolute;
    top: 22px;
    text-align: center;
    color: #fff;
    z-index: 999;
    -ms-transform: rotate(20deg);
    transform: rotate(311deg);
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    left: 7px;
}
.features:before{
    content: "";
    background-color: #4adede;
    position: absolute;
    z-index: 999;
    color: #fff;
    width: 36px;
    height: 282px;
    -ms-transform: rotate(20deg);
    transform: rotate(222deg);
    top: -77px;
    left: -3px;
}
p.fore-sale-text {
    position: absolute;
    top: 22px;
    text-align: center;
    color: #fff;
    z-index: 999;
    -ms-transform: rotate(20deg);
    transform: rotate(311deg);
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    left: 7px;
}
.browse-box-wrapper h2 {
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
    padding-bottom:  35px;
}
.browse-box {
    float: left;
    width: 25%;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.browse-img {
    padding: 20px 20px;
    webkit-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    -moz-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.browse-img span{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    position: absolute;
    bottom: -5px;

}
section.browse-by-style-wrapper {
    padding-bottom: 40px;
}
.our-blog-start{
    padding: 60px 0px;
}
.bolg-box {
    float: left;
    word-break: 33.33%;
    width: 33.33%;
    padding: 0px 15px;
}
.bolg-box-padding {
    background: #fff;
     webkit-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    -moz-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
}
.bolg-img img {
    width: 100%;
}
.bolg-text {
    text-align: center;
    margin-top: 47px;
    padding-bottom: 13px;
}
.bolg-text h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}
.bolg-text p {
    color: #555555;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.bolg-date ul li i {
    color: #1ea9ec;
    padding-right: 7px;
}
.bolg-date ul {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 12px 10px;
    webkit-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    -moz-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    border-radius: 10px;

}
.bolg-img{
    position: relative;
}
.bolg-date {
    position: absolute;
    text-align: center;
    left: 24%;
    transform: translateX(-15%);
    bottom: -19px;
}
.bolg-date ul li {
    padding: 0px 10px;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
}

.bolg-date ul li:last-child {
    border-right: none;
}
.but-link{
    text-align: center;
    padding-top: 27px;
}
.discover{
    padding: 60px 0px;
}
.discover-img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    padding: 40px;
    webkit-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    -moz-box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    box-shadow: 1px 0px 12px 0px rgb(0 0 0 / 17%);
    border-radius: 10px;
}
.discover .item{
    padding: 5px;
}
section.news-latter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news-block {
   display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
}
.left-news p{
    color: #fff;
    text-align: left;
    font-size: 12px;
    line-height: 21px;
}
.left-news h2{
    color: #fff;
    text-align: left;
    font-size: 27px;
    line-height: 50px;
    font-weight: 500;
}
.footer-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.footer-logo {
}
.footer-logo img {
    text-align: center;
}
footer.footer-wrapper p {
    color: #fff;
    font-size: 11px;
}
.sub-footer {
    border-top: 1px solid #21296d;
}
a.closebtn,button.openbtn{display: none;}
button.openbtn:active,
button.openbtn:focus
{
    outline: none;
}
/*home page end*/


.Who-we-are .img-background img
{
    height: 100%;
    object-fit: cover;
}




